// 颜色变量
$c-blue: #409eff;
$c-white: #fff;
$c-gray-s: #dcdfe6;
$c-gray-m: #909399;
$c-gray-l: #303133;

// 长度变量
$l-app-header: 70px;
$l-app-app-aside: 200px;
$l-app-common: 20px;

// 字体变量
$font-l: 22px;
$font-m: 18px;
$font-s: 14px;